<section data-ng-controller="MediaFilesController">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
		<div class="form-group">
			<label for="title" class="col-md-2 control-label">Title</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="form-group">
			<label for="format" class="col-md-2 control-label">Format</label>
			<div class="col-md-10">
				<input data-ng-model="format" id="format" placeholder="Format" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<label for="size" class="col-md-2 control-label">Size</label>
			<div class="col-md-10">
				<input data-ng-model="size" id="size" placeholder="Size" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<label for="location" class="col-md-2 control-label">Location</label>
			<div class="col-md-10">
				<input data-ng-model="location" id="location" placeholder="Location" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</section>
